input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}
form {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}
.social-container {
    margin: 20px 0;
}

.social-container a {
    border: 1px solid #dddddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

.panel{
    background: #1a2b4c;
            background: -webkit-linear-gradient(to right, #1a2b4c, #000000);
            background: linear-gradient(to right, #1a2b4c, #000000);
            background-repeat: no-repeat;
            background-size: cover;

    background-position: 0 0;
    color: #ffffff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

.contenedor{
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}
* {
    box-sizing: border-box;
  }
  
  
  
  
  h1 {
      font-weight: bold;
      margin: 0;
  }
  
  h2 {
      text-align: center;
  }
  
  p {
      font-size: 16px;
      font-weight: 100;
      line-height: 20px;
      letter-spacing: 0.5px;
      margin: 20px 0 30px;
  }
  
  span {
      font-size: 14px;
  }
  
  
  
  button:active {
      transform: scale(0.95);
  }
  
  button:focus {
      outline: none;
  }
  
  button.ghost {
      background-color: transparent;
      border-color: #ffffff;
  }